# Set the default behavior, in case people don't have core.autocrlf set.
# * text=auto
core.autocrlf=true
# Declare files line endings on checkout.
*.vue text eol=lf
*.js text eol=lf
*.html text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.exe binary
